<%- include('header.ejs')%>

     <%- include('nav.ejs')%>
      <div class="login-form">
      <div class="main-div">
          <div class="panel">
         <h2>Add Password </h2>
        
         </div>
          <form action="/addpassword"  id="Login" method="POST">
      
              <div class="form-group">
      
      
                  <select name="catagory_Name" class="form-control" id="">
                     
                      <option value="">Choose Password Catagory </option>
                      <% records.forEach(function(row){%>
                        
                      <option  value="<%= row.catagoryName%>"><%= row.catagoryName%> </option>
                      
                    <%})%>
                  </select>
                  
              
              <div class="form-group">

              <textarea  name="pass_details" cols="50" rows="5" id="editor1" placeholder="Enter Your Password Details" ></textarea>
              </div>

              </div>
      
              
              <div class="forgot">
                <p><a href="/view-all-password">View All Passwords</a></p>
              
      </div>
              <button type="submit" class="btn btn-primary" value="Add Password">Add Password Details</button>
      
          </form>
          </div>
  
      </div></div></div>
      

              
      <%- include('footer.ejs')%>
