<%- include('header.ejs')%>
<%- include('nav.ejs')%>

<div class="login-form">
    <div class="main-div">
        <div class="panel">
       <h2>Update Password Catagory</h2>
      
       </div>
       <% if(msg !=''){ %>
          <div class="alert alert-success" role="alert">
            
             <p >
                <%= msg%>
             </p>
         
          </div>
          <%}%>
        <form action="/update/passDetails"  id="Login" method="POST">
    
            <div class="form-group">
    
                <input type="hidden"  name= 'id_value' value="<%=records.id%>" id="">
                <input type="text" name="catagoryName" class="form-control" id="userName" placeholder="<%=records.catagoryName%>" >
                <input type="text" name="PassDetail" class="form-control" id="userName" placeholder="<%- records.passWord_Detail%>" >
    
            </div>
    
            
            <div class="forgot">
              <p><a href="/catagory">View All Catagory List</a></p>
            
    </div>
            <button type="submit" class="btn btn-primary">Update Catagory</button>
    
        </form>
        </div>

    </div></div></div>
    
<%- include('footer.ejs')%>